/* ========================== */
/* GLOBAL STYLE */
/* ========================== */
body {
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* ========================== */
/* JUDUL */
/* ========================== */
.section-title {
  position: relative;
  font-weight: 900;
  font-size: 40px;
  color: #000000;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 3rem;
}

/* Garis bawah judul */
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  background-color: #000000;
  border-radius: 2px;
}

/* Warna judul dua bagian */
.title-brown {
  color: #63391f;
}

.title-black {
  color: #000000;
}

/* ========================== */
/* TAB BUTTON */
/* ========================== */
.menu-btn {
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.menu-btn.active,
.menu-btn:hover {
  background-color: #6d3e23;
  color: #fff;
  border: 2px solid #6d3e23;
  box-shadow: 0 5px 12px rgba(0,0,0,0.3);
}

/* ========================== */
/* MENU CARD */
/* ========================== */
.menu-card {
  background: transparent;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.menu-card:hover {
  transform: scale(1.03);
}

.menu-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 16px;
  filter: brightness(0.95);
  transition: filter 0.4s ease;
}

.menu-card:hover .menu-img {
  filter: brightness(1.7);
}

/* ========================== */
/* BACK BUTTON */
/* ========================== */
.btn-back {
  display: inline-block;
  margin: 20px;
  padding: 5px 10px;
  background-color: #000000;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.btn-back:hover {
  color: #fff;
  background-color: #6d3e23;
}

/* ========================== */
/* RESPONSIVE */
/* ========================== */
@media (max-width: 992px) {
  .section-title {
    font-size: 60px;
  }
  .menu-card {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 45px;
  }
  .menu-card {
    margin-bottom: 15px;
  }
}
